@()

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Choice</title>

  <!-- Use Play's asset helper to link to the CSS file -->
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/hobbit.css")">
</head>

<body>
<div class="container">
  <h1>Drum roll please</h1>
  <hr />
  <h2>Welcome to your book choice</h2>

  <!-- Use Play's asset helper to link to the image -->
  <img src="@routes.Assets.versioned("assets/images/hobbit.png")" alt="hobbit.png" style="width: 200px; height: auto;"/>

  <br />
  <p>
  <h1>The Hobbit</h1>
  <h4>The Hobbit, a fantasy novel by J.R.R. Tolkien, follows the adventure of Bilbo Baggins, a comfortable hobbit who is swept into an epic quest to reclaim the dwarf kingdom of Erebor from the fearsome dragon Smaug.</h4>
  </p>
  <br />
  <h3>Bilbo discovers bravery and wisdom within himself.</h3>
  <br />
  <br />

  <a href="@routes.UserController.userPage()"
     target="blank"
     class="learn-more">
    <strong>Back to your library 👈</strong>
  </a>
  <br />
  <br />
  <br />
  <a href="@routes.HomeController.index()"><button><strong>Choose another book</strong></button></a>
</div>
</body>
</html>
